#danhmuc{
    -fx-background-image: url("img/background_danhmuc.jpg");
    -fx-background-position: center;
    
}
#button_bar{
    -fx-background-image: url("img/button_bar.jpg");
}
#loai_mon_an{
    -fx-background-image: url("img/loai_mon_an.jpg");
}
#loai_mon_an_1{
    -fx-background-image: url("img/salad.jpg");
    -fx-background-position: center;
}
#loai_mon_an_2{
    -fx-background-image: url("img/steak.jpg");
    -fx-background-position: center;
}
#loai_mon_an_3{
    -fx-background-image: url("img/potato.jpg");
    -fx-background-position: center;
}
#loai_mon_an_4{
    -fx-background-image: url("img/pizza.jpg");
    -fx-background-position: center;
}
#bar1, #button{
    -fx-background-color:white;
}
#white{
    -fx-background-color:white;
    -fx-border-style:solid;
}
.titled-pane > .title
{
    -fx-background-color:white;
}