.root {
    -fx-background-color: #fffcdc;
}
Button {
	-fx-text-fill: #fffcdc;
	-fx-font-size: 20px;
	-fx-background-color: #23074d;
	-fx-background-radius: 20px;
}
Button:hover {
	-fx-background-color: #ffffff;
	-fx-text-fill: #23074d;
}