
Button {
	-fx-text-fill: #fffcdc;
	-fx-font-size: 20px;
	-fx-background-color: #23074d;
	-fx-background-radius: 20px;
}
Button:hover {
	-fx-background-color: #d9a7c7;
	-fx-text-fill: #23074d;
}
#c1{
    -fx-background-color:white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.root {
    -fx-background-color: #fffcdc;
}

ScrollPane TilePane Pane Text{
    -fx-font-family:  "Times New Roman";
    -fx-font-size: 18;
    -fx-fill:#6b6b6b;
}
ScrollPane TilePane Pane Label{
    -fx-font-family:  "Times New Roman";
    -fx-font-size: 18;
    -fx-text-fill:#6b6b6b;
}

