#c1{
    -fx-background-color:white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

ScrollPane TilePane Pane VBox Pane Text{
    -fx-font-family:  "Times New Roman";
    -fx-font-size: 18;
    -fx-fill:#6b6b6b;
}
ScrollPane TilePane Pane VBox Pane Label{
    -fx-font-family:  "Times New Roman";
    -fx-font-size: 18;
    -fx-text-fill:#6b6b6b;
}