Text{
    -fx-font-family: 'Times New Roman';
    -fx-font-size:18px;
}
.menu-item:focused{
    -fx-background-color: rgba(9, 100, 207, 0.1);
}
.menu-item:focused .label {
    -fx-text-fill:  rgb(0, 136, 255);
}
TilePane Pane:hover{
     -fx-background-color: #e9faff;
}
TilePane Pane{
    -fx-background-color:white;
}