.titled-pane > .title{
    -fx-background-color: white;
    -fx-border-color: white ;
}
.titled-pane > .content{
     -fx-border-color: white ;
}
TitledPane VBox Pane:hover{
    -fx-background-color: rgba(9, 100, 207, 0.1);
}
.titled-pane > .title > .arrow-button .arrow 
{
    -fx-color: blue;
}
.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}
.menu-button .label{
    -fx-padding: 0; 
    
}
.context-menu {
    -fx-background-color: white;
    -fx-padding: 1.4em 0em 0em 0em;
    -fx-background-insets: 1.4em 0em 0em 0em;
}
.menu-item:focused{
    -fx-background-color: #e9faff;
    -fx-cursor: hand;
}
.menu-item:focused .label {
    -fx-text-fill: rgb(0, 136, 255);
}
